/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT_L 0
#define SYMBOLS_L 1
#define ARROWS_L  2
#define NUMBERS_L 3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        tapnenye: tapnenye {
            compatible = "zmk,behavior-tap-dance";
            label = "TAPNENYE";
            #binding-cells = <0>;
            bindings = <&kp N>, <&enye>;
        };

        deleteword: deleteword {
            compatible = "zmk,behavior-tap-dance";
            label = "DELETEWORD";
            #binding-cells = <0>;
            bindings = <&kp BACKSPACE>, <&kp LA(BACKSPACE)>;
        };
    };

    combos {
        compatible = "zmk,combos";

        f {
            bindings = <&deleteword>;
            key-positions = <19 20>;
        };

        colemak {
            bindings = <&tog 2>;
            key-positions = <0 11>;
            layers = <2>;
        };
    };

    macros {
        enye: enye {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(N) &kp N>;
            label = "ENYE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Mainlayer {
            label = "Home";
            bindings = <
&kp TILDE       &kp Q               &kp W           &kp E           &kp R                             &kp T        &kp Y        &kp U             &kp I           &kp O           &kp P                  &kp DELETE
&tog 1          &hm LEFT_CONTROL A  &hm LEFT_ALT S  &hm LEFT_GUI D  &hm LEFT_SHIFT F                  &kp G        &kp H        &hm LEFT_SHIFT J  &hm LEFT_GUI K  &hm LEFT_ALT L  &hm LEFT_CONTROL SEMI  &tog 2
&kp LEFT_SHIFT  &kp Z               &kp X           &kp C           &kp V                             &kp B        &tapnenye    &kp M             &kp COMMA       &kp DOT         &kp FSLH               &kp RSHFT
                                                    &kp ESCAPE      &mt LS(LA(LC(LG(LEFT_GUI)))) RET  &lt 1 TAB    &lt 2 SPACE  &kp SPACE         &kp ESCAPE
            >;
        };

        number_layer {
            label = "Num";
            bindings = <
&none  &kp LS(N1)    &kp LS(N2)    &kp LS(N3)    &kp LS(N4)    &kp LS(N5)    &kp LS(N6)    &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &kp BACKSPACE
&none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp N7      &kp N8      &kp N9      &kp N0      &none
&none  &none         &none         &none         &none         &none         &bootloader   &none       &none       &none       &none       &none
                                   &none         &none         &none         &to 0         &none       &none
            >;
        };

        Nav {
            label = "Nav";
            bindings = <
&kp ESC  &none  &none           &mmv MOVE_UP    &none            &none    &kp LS(N6)      &kp LS(N7)      &kp LS(N8)    &kp LS(N9)  &kp LS(N0)  &none
&none    &none  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT   &none       &none
&none    &none  &none           &none           &none            &none    &none           &none           &none         &none       &none       &none
                                &mkp RCLK       &mkp LCLK        &to 0    &none           &none           &none
            >;
        };

        layer_3 {
            label = "Colemak";
            bindings = <
&kp TILDE       &kp Q               &kp W           &kp F           &kp P                             &kp B        &kp J        &kp L             &kp O           &kp Y           &kp SEMI            &kp DELETE
&tog 1          &hm LEFT_CONTROL A  &hm LEFT_ALT R  &hm LEFT_GUI S  &hm LEFT_SHIFT T                  &kp G        &kp M        &hm LEFT_SHIFT N  &hm LEFT_GUI E  &hm LEFT_ALT I  &hm LEFT_CONTROL U  &tog 2
&kp LEFT_SHIFT  &kp Z               &kp X           &kp C           &kp D                             &kp V        &kp K        &kp H             &kp COMMA       &kp DOT         &kp FSLH            &kp RSHFT
                                                    &kp ESCAPE      &mt LS(LA(LC(LG(LEFT_GUI)))) RET  &lt 1 TAB    &lt 2 SPACE  &kp SPACE         &kp ESCAPE
            >;
        };
    };
};
